

<div id='input-bar'>
	<textarea id='input'>What are you up to?</textarea>
	<div id='submit-area'>
		<div id='count'></div>
		<div id='submit'>submit</div>
	</div>
</div>

<div id='tweets'></div>

<div id='preload1'></div>
<div id='preload2'></div>
<div id='preload3'></div>
